{{#if badge}}
  <button title={{badge.attestation.metadata.description}} class="desoc-badges-item" {{on "click" this.showDetails}}>
    <img
      src={{badge.attestation.metadata.image}}
      class="desoc-badge"
      alt={{badge.attestation.metadata.name}}
    />
  </button>
{{/if}}