<div class="desoc-container">
  {{#if credentials}}
    <div class="desoc-group-list">
      {{#each credentials as |credential|}}
        <BadgeItem @badge={{credential}} />
      {{/each}}
    </div>
  {{/if}}
</div>