$card_width: 50px;
$avatar_width: 50px;
$avatar_margin: 0;

.avatar-placeholder {
  width: $avatar_width;
  height: $avatar_width;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  &:before {
    animation: placeHolderShimmer 20s linear infinite forwards;
    position: absolute;
    left: 0;
    content: "";
    background: linear-gradient(
      to right,
      var(--primary-very-low) 10%,
      var(--primary-low) 18%,
      var(--primary-very-low) 45%
    );
    height: $avatar_width;
    width: $card_width;
  }
}

.desoc-card-container {
  width: $avatar_width;
  height: $avatar_width;
}
// styles for user cards only
.desoc-card {
  // avatar - names - controls
  .avatar-placeholder {
    width: $avatar_width;
    height: $avatar_width;
  }
  .desoc-card-avatar {
    margin-top: $avatar_margin;
    max-height: $avatar_width;
  }
  .first-row {
    display: flex;
  }
}

.desoc-container {
  width: 100%;
  max-width: fit-content;
  text-align: left;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
}

.desoc-group-list {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  margin: 5px 0;
  margin-left: -5px;
}

.desoc-badge {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.desoc-badges-item {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;

  button {
    padding: 0;

    img {
      padding: 0;
    }
  }
}

.badge-details-container {
  position: relative;
  min-width: 600px;
  overflow: hidden;

  .badge-details-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    grid-template-columns: max-content;
    gap: 1rem;
    margin-bottom: .5rem;

    .badge-type {
      display: block;
      margin-bottom: 10px;
      padding: 3px 15px;
      color: #ffffff;
      background-color: var(--tertiary);
      width: max-content;
    }

    span {
      display: block;
      word-wrap: break-word;
    }

    .badge-image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 10px 0;
    }
  }

  .links {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;

    a.link {
      padding: 5px 15px;
      background-color: var(--tertiary);
      color: #ffffff;
    }
  }
}
