$card_width: 50px;
$avatar_width: 50px;
$avatar_margin: 0;

.avatar-placeholder {
  width: $avatar_width;
  height: $avatar_width;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  &:before {
    animation: placeHolderShimmer 20s linear infinite forwards;
    position: absolute;
    left: 0;
    content: "";
    background: linear-gradient(
      to right,
      var(--primary-very-low) 10%,
      var(--primary-low) 18%,
      var(--primary-very-low) 45%
    );
    height: $avatar_width;
    width: $card_width;
  }
}

.desoc-card-container {
  width: $avatar_width;
  height: $avatar_width;
}
// styles for user cards only
.desoc-card {
  // avatar - names - controls
  .avatar-placeholder {
    width: $avatar_width;
    height: $avatar_width;
  }
  .desoc-card-avatar {
    margin-top: $avatar_margin;
    max-height: $avatar_width;
  }
  .first-row {
    display: flex;
  }
}

.desoc-container {
  width: 100%;
  max-width: fit-content;
  text-align: left;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
}

.desoc-group-list {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  margin: 5px 0;
  margin-left: -5px;
}

.desoc-badge {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.desoc-badges-item {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;

  button {
    padding: 0;

    img {
      padding: 0;
    }
  }
}

.badge-details-container {
  position: relative;
  min-width: 600px;
  overflow: hidden;

  .badge-details-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    grid-template-columns: max-content;
    gap: 1rem;
    // margin-bottom: 0.5rem;

    .badge-name {
      margin: 0.5rem 0 5px 0;
    }
    .badge-type {
      margin-bottom: 2px;
      text-decoration: underline;
    }

    .badge-description {
      font-style: italic;
      color: var(--primary-high);
    }
    span {
      display: block;
      word-wrap: break-word;
    }

    .badge-image {
      width: 95px;
      height: 95px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .badge-details__footer {
    margin: 1.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    a.link {
      display: flex;
      gap: 5px;
      padding: 5px 15px;
      background-color: var(--primary-low);
      color: var(--primary-very-high);

      svg {
        width: 20;
        height: 20;

        path {
          fill: var(--primary);
        }
      }
    }
  }
}
